.sitewrapper{
  width: 100%;
}

header{
  width: 100%;
  height: 100px;
  background: #cccc;
}

footer{
  width: 100%;
  height: 200px;
  background-color: #ccc;
}

.home{
  width: 100%;
  height: 500px;
  background-color: red;
}

.shop{
  width: 100%;
  height: 500px;
  background-color: blue;
}